<div class="card">
    <p class="card-title">Tipo de Reclamo</p>
    <p-divider></p-divider>
    <br>
    <p class="small-desc">
    <div class="checkbox-container" style="margin-left: 40px;">
        <span class="myspan">
            Errores en Facturación:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         </span>
        <div class="checkbox-wrapper-31">
            <input  type="checkbox">
            <svg viewBox="0 0 35.6 35.6">
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
            </svg>
        </div>
    </div><br><br>
    <div class="checkbox-container" style="margin-left: 40px;">
        <span class="myspan">
            Resarcimiento por Daños:&nbsp;
         </span>
        <div class="checkbox-wrapper-31" (click)="openDialog()">
            <input  type="checkbox">
            <svg viewBox="0 0 35.6 35.6">
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
            </svg>
        </div>
    </div>
    <br><br>
    <div class="checkbox-container" style="margin-left: 40px;">
        <span class="myspan">
            Suspensión de Suminitro:&nbsp;
         </span>
        <div class="checkbox-wrapper-31">
            <input  type="checkbox">
            <svg viewBox="0 0 35.6 35.6">
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
            </svg>
        </div>
    </div> 
    <br><br>
    <div class="checkbox-container" style="margin-left: 40px;">
        <span class="myspan">
           Mala atención comercial:&nbsp;&nbsp;
         </span>
        <div class="checkbox-wrapper-31">
            <input  type="checkbox">
            <svg viewBox="0 0 35.6 35.6">
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
            </svg>
        </div>
    </div> 
    <div class="go-corner">
        <div class="go-arrow"></div>
    </div>
</div>
<br><br><br><br>